# Series

In [57]:
import pandas as pd

In [58]:
data = [1,2,3,4,5]

In [59]:
s = pd.Series(data)

In [60]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [61]:
index =['Linha ' + str(i) for i in range(5)]

In [62]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [63]:
s = pd.Series(data = data, index = index)

In [64]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [65]:
data = {'Linha ' + str(i) : i + 1 for i in range(5)}

In [66]:
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [67]:
s = pd.Series(data)

In [68]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [69]:
type(s)

pandas.core.series.Series

In [70]:
type(data)

dict

In [71]:
s1 = s +2

In [72]:
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [73]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

# DataFrame

In [74]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [75]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
df1 = pd.DataFrame(data = data)

In [77]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [78]:
index = ['Linha' + str(i) for i in range(3)]

In [79]:
index

['Linha0', 'Linha1', 'Linha2']

In [80]:
df1 = pd.DataFrame(data = data, index = index)

In [81]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [82]:
columns = ['Coluna' + str(i) for i in range(3)]

In [83]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [84]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [85]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [86]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [87]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [88]:
type(data)

dict

In [89]:
df2 = pd.DataFrame(data)

In [90]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [91]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [92]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [93]:
type(data)

list

In [94]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)

In [95]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [96]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [97]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [98]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [100]:
## Axis: linkagem por linha, sem ele a linkagem é uma em cima do outro

df4 = pd.concat([df1,df2,df3], axis =1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [104]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [105]:
print(pd.Timestamp.max)

2262-04-11 23:47:16.854775807